import "./global.css";

* {
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

p {
  margin: 0px;
}

header {
  display: flex;
  padding: 0px;
  width: 100vw;
  height: 10.5rem;
  margin-top: 0px;
  background: #111;
  text-align: center;
  justify-content: center;
}

body {
  background-color: var(--gray-600);
}

.logo {
  width: 5.875rem;
}

.input-field {
  display: flex;
  justify-content: center;
  margin-top: -35px;
  padding: 16px;

}

.input-shape {
  background: var(--gray-500);
  padding: 10px;
  border-radius: 8px;
}

.input-field input {
  width: 32rem;
  background: none;
  border: none;
  outline: none;
  color: var(--gray-100);
}

.input-field input::placeholder {
  color: var(--gray-300);
}

.input-field button {
  margin-left: 10px;
  background: var(--blue-dark);
  color: var(--gray-100);
  width: 5rem;
  border-radius: 8px;

  transition: 0.2s;
}

.input-field button:hover {
  background: var(--blue);
  cursor: pointer;
}

.stats-container {
  display: flex;
  justify-content: center;
}

.stats {
  width: 38.625rem;
  display: flex;
  justify-content: space-between;
  color: var(--gray-100);
  margin-top: 3rem;
}

.created, .completed p {
  font-weight: bold;
  font-size: 0.875rem;
}

.created {
  color: var(--blue);
}

.completed {
  color: var(--purple);
}

.counter {
  color: var(--gray-100);
  margin-left: 10px;
  background: var(--gray-400);
  padding: 0 10px;
  border-radius: 999px;
  font-weight: bold;
  font-size: 0.75rem;
}

.main-message {
  margin-top: 0.7rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--gray-300);
  line-height: 1.4;
}

.message {
  font-size: 1rem;
  color: var(--gray-300);
  line-height: 1.4;
}

.no-tasks-display {
  stroke: 10px;
  text-align: center;
}

.line {
  height: 0.1px;
  width: 40rem;
  background: var(--gray-400);
  text-align: center;
  margin: 1.3rem auto;
  margin-bottom: 5rem;
}
